<header class="home_header">
  <img class="user_picture" height="50" width="50" src="{{ user.picture }}" alt="{{ user.username }} profile picture">
  <h1 class="user_info">{{ user.username }}</h1>
</header>
<main class="userlist_content">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">LIEB Navigation</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/all_users">All Users</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/users/{{ user.username }}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
          <li><a href="logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <ol id="user_list">
  {{#each all_users}}
     <li><a href="/users/{{ this.username }}">{{ this.username }}</a></li>
  {{/each}}
  </ol>

</main>
