<header class="home_header">
  <img class="user_picture" height="50" width="50" src="{{ user.picture }}" alt="{{ user.username }} profile picture">
  <h1 class="user_info">{{ user.username }}</h1>
</header>
<main class="home_content">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand" href="#">LIEB Navigation</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="/messages/{{ user.username }}">Messages</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
          <li><a href="logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="poster-bucket">
    <a href="/posts_form"><button class="new-poster">Create New Post!</button></a> 
  </div>
  <ol id="post_list">
    {{#each posts}}
        <li>
          <div class="post">
            <h2 class="post_title">{{ this.title }}</h2>
            <p class="post_metadata">posted by {{ this.poster }} at {{ this.post_time }}</p>
            <p class="post_updated">last updated at {{ this.update_time }}</p>
            <p class="post_content">{{ this.content }}</p>
            <ol class="reactions">
              {{#each this.reactions}}
                <li><p class="reaction">{{ this.name }} - {{ this.count }}</p></li>
              {{/each}}
            </ol>
            <ol class="attachments">
              {{#each this.attachments}}
                <li><img class = "attachment" src="{{ this.source }}" alt="{{ this.alt }}"></li>
              {{/each}}
            </ol>
          </div>
        </li>
    {{/each}}
  </ol>
</main>
