<header class="messages_header">
  <h1>Messages between {{ user }} and {{ other_user }}</h1>
</header>
<main class="messages_content">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">LIEB Navigation</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/all_users">All Users</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/users/{{ user.username }}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
          <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <ol id="messages_list">
    {{#each messages}}
        <li>
          <div>
            <p class="message_metadata">sent at {{ this.time }} by {{ this.from }}</p>
            <p class="message_content">{{ this.msg }}</p>
          </div>
        </li>
    {{/each}}
  </ol>
  <form
    id="create-msg"
    method="post"
    action="/create_message/{{ other_user }}"
    encType="multipart/form-data">
      <label for="contentInput">CONTENT:</label>
      <input id="contentInput" type="text" name="content" />
      <input type="submit" value="create" />
  </form>
</main>
